<header></header>
<section>
  <div class="wrapper">

    <hgroup>
      <p class="meta"></p>
    </hgroup>

    <div id="countdown">
      <div class="cd-box">
        <p class="numbers days">00</p><br>
        <p class="strings timeRefDays">დღე</p>
      </div>
      <div class="cd-box">
        <p class="numbers hours">00</p><br>
        <p class="strings timeRefHours">საათი</p>
      </div>
      <div class="cd-box">
        <p class="numbers minutes">00</p><br>
        <p class="strings timeRefMinutes">წუთი</p>
      </div>
      <div class="cd-box">
        <p class="numbers seconds">00</p><br>
        <p class="strings timeRefSeconds">წამი</p>
      </div>
    </div>
  </div>
</section>